*{
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #333;
    /* font-family: 'Source Serif 4', serif; */
    margin: 0;
}

/*! HEADER  */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    font-size: clamp(1rem, 0.8884rem + 0.2976vw, 1.15625rem);
    overflow: hidden;
    padding: 0 .75rem ;
    position: relative;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, -0.0357rem + 1.4286vw, 1.25rem);
}

.header__logo {
    width:3.5rem;
    position: absolute;
    animation: drive 6s forwards;
}

@keyframes drive {

    0%{
        transform: rotateY(180deg);
        right:-15rem;
    }

    30%{
        transform: rotateY(180deg);
        right:96%;   
     }
     33%{
        transform: rotateX(0deg);
     }
     100%{
        left:5px;
     }
    
}

.header__brand-name {
    font-weight: 600;
    margin-left: 4rem;
    text-transform: uppercase;
    color: orangered;
    outline-color: orangered;
}
.header__drop-down {
    font-size: 1.15rem;
    width: fit-content;
    border: none;
    outline: none;
    color: #666;
    text-transform: capitalize;
}


.header__nav-list{
    display: flex;
    align-items: center;
    gap: clamp(0.75rem, 0.2143rem + 1.4286vw, 1.5rem);
    list-style: none;
    text-transform: capitalize;
    cursor: pointer; 
}

.header__nav-items:hover {
    text-decoration: underline;
}

.header__btn {
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    font-size: 1.15rem;
    margin-bottom: .5rem;
    margin-left: 2rem;
    outline: 2px solid orangered;
    padding: .35rem .75rem;
    text-transform: capitalize;
    cursor: pointer;
}

.header__btn> .bi {
    margin-right:0.5rem;
    fill: orangered;
} 

.header__btn:hover{
    background-color: orangered;
}

.header__nav-items> .bi{
    margin-right:clamp(0.5rem, 0.1429rem + 0.9524vw, 1rem);
}

/*# MAIN SECTION  */

.container {
    width: 80%;
    margin-inline: auto;
    margin-block: 4rem;
}

/*! CAROUSEL  */


.carousel__container {
    display: flex;
    gap: .75rem;
}

.carousel__img {
    width: 100%;
    cursor: pointer;
}

/*! SMALL CAROUSEL*/

.sm-carousel__container {
    display: flex;

}

.sm-carousel__img {
    width: 100%;
    cursor: pointer;
}

/*! restaurant container*/

.restaurant-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 1rem;
    justify-content: center;
}

/*! restaurant cards*/

.card {
    padding: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    cursor: pointer;
}

.card__img-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.card__img {
    width: 100%;
}

.card__img-container > span {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(255, 110, 58);
    border-radius: 4px;
    padding: 0.25rem;
    color: white;
    font-weight: 500;
    font-size: 0.75rem;
}

.card__title {
    font-size: 1.25rem;
}
.card__body {
    font-size: 0.85rem;
}

.card__detail {
    font-weight: 100;
}
.card__votes{
    font-weight: 100;
    color: #666;
    margin-left: 0.5rem;
}
