*{
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    /* font-family: 'Source Serif 4', serif; */
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem ;
    font-size: clamp(1rem, 0.8884rem + 0.2976vw, 1.15625rem);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    position: relative;
    overflow: hidden;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, -0.0357rem + 1.4286vw, 1.25rem);
}

.header__logo {
    width:3.5rem;
    position: absolute;
    animation: drive 6s forwards;
}

@keyframes drive {

    0%{
        transform: rotateY(180deg);
        right:-15rem;
    }

    30%{
        transform: rotateY(180deg);
        right:96%;   
     }
     33%{
        transform: rotateX(0deg);
     }
     100%{
        left:5px;
     }
    
}

.header__brand-name {
    font-weight: 600;
    margin-left: 4rem;
    text-transform: uppercase;
    color: orangered;
    outline-color: orangered;
}
.header__drop-down {
    font-size: 1.15rem;
    width: fit-content;
    border: none;
    outline: none;
    color: #666;
    text-transform: capitalize;
}


.header__nav-list{
    list-style: none;
    display: flex;
    gap: clamp(0.75rem, 0.2143rem + 1.4286vw, 1.5rem);
    text-transform: capitalize;
}
.header__nav-items:hover {
    text-decoration: underline;
}

.header__btn {
    text-transform: capitalize;
    outline: 2px solid limegreen;
    border: 0;
    border-radius: 3px;
    font-size: 1.15rem;
    padding: .15rem .75rem;
    background-color: transparent;
}

.header__btn> .bi {
    margin-right:0.5rem;
} 

.header__btn:hover{
    background-color: limegreen;
}

.header__nav-items> .bi{
    margin-right:clamp(0.5rem, 0.1429rem + 0.9524vw, 1rem);
}