body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.container {
    margin-inline:2rem;
    text-align: center;
}

.container * {
    padding-block: 1rem;
}

.para {
    color: black;
}