body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.para {
    background-image: linear-gradient(to left, dimgray, black);
    background-blend-mode:hard-light;
    color: violet;
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem;
}