@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffc38e;
  }
}

@layer utilities {
  .container {
    @apply w-4/5 mx-auto my-16;
  }
  @media screen and (max-width: 500px) {
    .container {
      @apply w-full;
    }
  }

  .gradient-animation {
    @apply text-black bg-clip-text;
    background: rgb(240, 249, 22);
    background: linear-gradient(
      90deg,
      rgba(240, 249, 22, 1) 0%,
      rgba(255, 63, 0, 1) 50%,
      rgba(240, 249, 22, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 7.5s linear infinite;
  }
  @keyframes shine {
    0% {
      @apply bg-[200%_auto];
    }
    50% {
      @apply bg-[200%_center];
    }
    100% {
      @apply bg-[200%_auto];
    }
  }
}

/* 
shine: 'shine 1s linear infinite'

        shine: {
          '0%': {
            backgroundSize: '200% auto'
          },
          '50%': {
            backgroundSize: '200% center'
          },
          '100%': {
            backgroundSize: '200% auto'
          }
        }
 */
