*{
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #333;
    /* font-family: 'Oswald', sans-serif; */
    margin: 0;
}

a{
    text-decoration: none ;
    color: #333;

}
/*! HEADER  */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    font-size: clamp(1rem, 0.8884rem + 0.2976vw, 1.15625rem);
    overflow: hidden;
    padding: 0 .75rem ;
    position: relative;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, -0.0357rem + 1.4286vw, 1.25rem);
}

.header__logo {
    width:3.5rem;
    position: absolute;
    animation: drive 6s forwards;
}

@keyframes drive {

    0%{
        transform: rotateY(180deg);
        right:-15rem;
    }

    30%{
        transform: rotateY(180deg);
        right:96%;   
     }
     33%{
        transform: rotateX(0deg);
     }
     100%{
        left:5px;
     }
    
}

.header__brand-name {
    font-weight: 600;
    margin-left: 4rem;
    text-transform: uppercase;
    color: orangered;
    outline-color: orangered;
}
.header__drop-down {
    font-size: 1.15rem;
    width: fit-content;
    border: none;
    outline: none;
    color: #666;
    text-transform: capitalize;
}


.header__nav-list{
    display: flex;
    align-items: center;
    gap: clamp(0.75rem, 0.2143rem + 1.4286vw, 1.5rem);
    list-style: none;
    text-transform: capitalize;
    cursor: pointer; 
    white-space:nowrap;
}

.header__nav-items:hover {
    text-decoration: underline;
}

.header__btn {
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    font-size: 1.15rem;
    margin-bottom: .5rem;
    margin-left: 2rem;
    outline: 2px solid orangered;
    padding: .35rem .75rem;
    text-transform: capitalize;
    cursor: pointer;
}

.header__btn> .bi {
    margin-right:0.25rem;
    fill: orangered;
} 

.header__btn:hover{
    background-color: orangered;
}

.header__nav-items> .bi{
    margin-right:clamp(0.5rem, 0.1429rem + 0.9524vw, 1rem);
}


/*# MAIN SECTION  */

.container {
    width: 80%;
    margin-inline: auto;
    margin-block: 4rem;
}

@media screen and (max-width:500px) {
    .container{
        width: 100%;
    }
    
}

/*! CAROUSEL  */


.carousel__container {
    display: flex;
    gap: .75rem;
    overflow: hidden;
}
.carousel__img-container{
    min-width: 450px;
    /* width: 45%; */
}

.carousel__img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

/*! SMALL CAROUSEL*/

.sm-carousel__container {
    display: flex;
    overflow: hidden;
}

.sm-carousel__img-container{
    min-width: 190px;
    aspect-ratio: 1/1;
    /* border: 1px black solid; */
}

.sm-carousel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/*! Filters*/



.filters {
    border-top:1px rgba(0, 0, 0, 0.167) solid ;
    border-bottom:1px rgba(0, 0, 0, 0.167) solid ;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    font-size: 1rem;
}

.searchBar, .btn {
    padding:1rem 1.25rem;
    border-radius: 500px;
    outline: 1px  rgba(252, 161, 100, 0.5) solid ;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.075);
}

.searchBar {
    background-color:  rgba(252, 161, 100, 0.15);
}

.searchBar:focus {
    background-color: rgba(252, 161, 100, 0.5);
}

.btn {
    background-color: transparent;
}

.btn:active {
    background-color:  rgba(252, 161, 100, 0.5);
    box-shadow: none;
}

.btn--filter .bi {
font-size: .75rem;
}




/*! restaurant container*/

.restaurant-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 2rem;
    justify-content: center;
    justify-items: center;
}

/*! restaurant cards*/

.restaurant-container .card {
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 150ms ease;
    max-width: 300px;
}

.restaurant-container .card:hover{
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.075); */
    transform: scale(0.95);
}

.restaurant-container .card__img-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.card__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.restaurant-container .card__img-container > span {
    font-family: 'Oswald', sans-serif;
    /* webkit-font-smoothing: antialiased; */
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    border-radius: 4px;
    background-image: linear-gradient(to top, black, transparent);
    padding: 0.25rem;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.restaurant-container .card__title {
    font-size: 1.25rem;
}
.restaurant-container .card__body {
    font-size: 0.85rem;
}

.restaurant-container .card__detail {
    font-weight: 100;
}
.restaurant-container .card__votes{
    font-weight: 100;
    color: #666;
    margin-left: 1rem;
}
.restaurant-container .card__rating>.bi {
    padding-left: 0.5rem;
}
